<div class="pure-g result-item">
	<div class="pure-u-1-3 ">
		<img class="pure-img thumb" data-src="holder.js/200x200?auto=yes&text=wallpaper&size=20" src={{image}}>
	</div>
	<div class="pure-u-2-3 details-box">
		<p>{{name}}</p>
	</div>
</div>
